/** Text y font*/
.text-servitech {color: #026481; }
.text-icon { color: #FDB813 }
.text-icon2 { color: #670054 }
.text-shadow { text-shadow: 1px 1px 1px #5B5B5B;}


/** Bold Fonte */
.bold { font-weight: bold; }
.b-7 { font-weight: 700; }
.b-6 { font-weight: 600; }
.b-5 { font-weight: 500; }
.b-4 { font-weight: 400; }


/** Tamanho do fonte */
.f-07 { font-size: .7rem; }
.f-08 { font-size: .8rem; }
.f-09 { font-size: .9rem; }
.f-12 { font-size: 1.2rem; }
.f-14 { font-size: 1.4rem; }
.f-15 { font-size: 1.5rem; }
.f-20 { font-size: 2rem; }
.f-25 { font-size: 2.5rem; }

/** title*/
.title {
  overflow: hidden;
  text-align: center;
  color: #026481;
  font-weight: bold;
}

.title:before,
.title:after {
  background-color: #026481;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.title:before {
  right: 1.5rem;
  margin-left: -50%;
}

.title:after {
  left: 1.5rem;
  margin-right: -50%;
}

.bg-servitech { background: #026481; }
.bg-servitech-2 { background: #F9FBFA;}
.bg-servitech-3 { background: #383838; }
.badge-servitech {
    color: #fff;
    background-color: #026481;
}

.btn-servitech {
    color: #fff !important;
    background-color: #026481 !important;
    border-color: #026481 !important;
}

.btn-servitech:hover {
    background-color: #01475c !important;
    border-color: #01475c !important;
}

.btn-whatsapp {
  background: #00AF0D !important;
  border-color: #00AF0D !important;
  color: #fff;
}

.btn-whatsapp:hover {
  background:   rgba(0, 175, 12, 0.671) !important;
  border-color: rgba(0, 175, 12, 0.671) !important;
}

/** Header */
#head-text > .list-inline-item:not(:last-child) {
  margin-right: 1rem;
}

#head-text > li > a { color: #fff; }
  
#menu-menu-1 > li > a { color: #fff; text-transform: uppercase; font-weight: 600 }
#menu-menu-1 > li > a:hover { color: #FFD800 !important; }
#menu-menu-1 > li.active > a {
  border-bottom: 2px solid #FFD800;
  color: #FFD800 !important; 
}

.topi{
  margin-top: 150px;
}
@media(max-width: 768px) {
  .topi{ margin-top: 50px; }
}

/** Single Post */
.post, .page {
  margin: 0 0 3rem;
}
.m-top{
  margin-top: 9.4rem;
}
a:visited {
  color: #dc3545;
}

a {
  color: #dc3545;
  text-decoration: none;
  background-color: transparent;
}


.tags-links > a {
  display: inline-block;
  padding: .25em .6em;
  margin-right: .3rem;
  font-size: 75%;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #026481;
  font-style: italic;
}


/** Widget */
.widget {
  margin: 0 0 3rem 0 !important;
}
.widget-title {
  font-size: 1.5rem !important;
  font-weight: 600;
}

/** Recent Entries */
.widget h2 {
  border-bottom: 2px solid rgba(2,100,129,.25);
}

.widget_recent_entries>ul, .widget_categories>ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 0 1.5em 0em;
}

.widget_recent_entries>ul>li:first-child .list-group-item:first-child, .widget_categories>ul>li:first-child .list-group-item:first-child {
  border-top: 0;
}
.widget_recent_entries>ul>li, .widget_categories >ul>li {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.widget_recent_entries>ul>li:first-child, .widget_categories>ul>li:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.widget_recent_entries>ul>li, .widget_categories>ul>li {
  font-size: .9rem;
  color: #026481;
  position: relative;
  display: block;
  padding: .75rem 0;
  margin-bottom: -1px;
  background-color: none;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.widget_recent_entries>ul>li>a, .widget_categories>ul>li>a {
  color: #026481;
  text-decoration: none;
  background-color: transparent;
}
.widget_recent_entries>ul>li>a:hover { 
  color: #dc3545;
}

/** Widget Search */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  border: 1px solid;
  border-radius: 3px;
  color: #fff !important;
  background-color: #026481 !important;
  border-color: #026481 !important;
  font-size: 1rem;
  line-height: 1;
  padding: .5rem 1rem;
  display: block;
  width: 100%;
}

.search-form > label, .search-field {
  width: 100% !important;
}